## Combining "Box Office Mojo" and "The Movie Database" data by movie title

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
## Importing both data sets

bom = pd.read_csv("./data/bom.movie_gross.csv.gz") ##  Box Office Mojo data
tmdb = pd.read_csv("./data/tmdb.movies.csv.gz") ## The Movie Database data
num = pd.read_csv("./data/tn.movie_budgets.csv.gz") ## The Numbers movie budget data

In [3]:
## Sampling each dataframe

bom.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [4]:
tmdb.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [5]:
num.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [6]:
bom.columns
tmdb.columns
num.columns

Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross'],
      dtype='object')

In [7]:
## A list of unqiue movie titles from each list
bom['title'].nunique()  ## 3,386
tmdb['title'].nunique() ## 24,688
num['movie'].nunique()  ## 5,698

5698

In [8]:
## Converting TMDB data to datetime object
tmdb['date'] = pd.to_datetime(tmdb['release_date'])

tmdb['month'] = tmdb['date'].dt.month

tmdb['year'] = tmdb['date'].dt.year

## Converting NUM release_date to datetime object and adding month & year to new columns

num['date'] = pd.to_datetime(num['release_date'])

num['month'] = num['date'].dt.month

num['year'] = num['date'].dt.year

# slicing dataset 2010-2019
mask = (tmdb['year']<=2019) & (tmdb['year']>=2010)
tmdb_2 = tmdb.loc[mask].copy()

mask2 = (num['year']<=2019) & (num['year']>=2010)
num_2 = num.loc[mask2].copy()

In [9]:
tmdb_2.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,date,month,year
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,2010-11-19,11,2010
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,2010-03-26,3,2010
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,2010-05-07,5,2010
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186,2010-07-16,7,2010
5,5,"[12, 14, 10751]",32657,en,Percy Jackson & the Olympians: The Lightning T...,26.691,2010-02-11,Percy Jackson & the Olympians: The Lightning T...,6.1,4229,2010-02-11,2,2010

In [10]:
tmdb_2['title'].nunique() ## 24,501 --> Filtering out by year 2010-2019 didn't remove many entries

24501

Need to check for duplicates:

In [11]:
num_2.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,date,month,year
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2011-05-20,5,2011
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",2019-06-07,6,2019
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",2015-05-01,5,2015
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",2017-12-15,12,2017
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220",2015-12-18,12,2015

In [12]:
duplicates = num_2.loc[(num_2['movie'].duplicated(keep = False) == True)]
duplicates.sort_values("movie",axis = 0)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,date,month,year
38,39,"May 14, 2010",Robin Hood,"$210,000,000","$105,487,148","$322,459,006",2010-05-14,5,2010
408,9,"Nov 21, 2018",Robin Hood,"$99,000,000","$30,824,628","$84,747,441",2018-11-21,11,2018
3025,26,"Feb 22, 2013",Snitch,"$15,000,000","$42,930,462","$57,907,734",2013-02-22,2,2013
5351,52,"Dec 31, 2012",Snitch,"$850,000",$0,$0,2012-12-31,12,2012
5009,10,"Apr 9, 2010",The Square,"$1,900,000","$406,216","$740,932",2010-04-09,4,2010
5099,100,"Oct 25, 2013",The Square,"$1,500,000","$124,244","$176,262",2013-10-25,10,2013
2970,71,"Apr 5, 2013",Trance,"$16,000,000","$2,322,593","$22,594,052",2013-04-05,4,2013
5330,31,"Dec 31, 2012",Trance,"$950,000",$0,$0,2012-12-31,12,2012

In [13]:
## Merging Numbers-Budget data with Box Office Mojo data. 
## Perform 'Outer' join on movie title and year 

compare = pd.merge(num_2, bom, how = "outer", left_on = ['movie', 'year' ], right_on = ['title', 'year'])
compare.head(50)

,id,release_date,movie,production_budget,domestic_gross_x,worldwide_gross,date,month,year,title,studio,domestic_gross_y,foreign_gross
0,2.0,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2011-05-20,5.0,2011,Pirates of the Caribbean: On Stranger Tides,BV,241100000.0,804600000
1,3.0,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",2019-06-07,6.0,2019,NaN,NaN,NaN,NaN
2,4.0,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",2015-05-01,5.0,2015,Avengers: Age of Ultron,BV,459000000.0,946400000
3,5.0,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",2017-12-15,12.0,2017,NaN,NaN,NaN,NaN
4,6.0,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220",2015-12-18,12.0,2015,NaN,NaN,NaN,NaN
5,7.0,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200",2018-04-27,4.0,2018,Avengers: Infinity War,BV,678800000.0,"1,369.5"
6,9.0,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209",2017-11-17,11.0,2017,Justice League,WB,229000000.0,428900000
7,10.0,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923",2015-11-06,11.0,2015,Spectre,Sony,200100000.0,680600000
8,11.0,"Jul 20, 2012",The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099",2012-07-20,7.0,2012,The Dark Knight Rises,WB,448100000.0,636800000
9,12.0,"May 25, 2018",Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347",2018-05-25,5.0,2018,Solo: A Star Wars Story,BV,213800000.0,179200000
10,13.0,"Jul 2, 2013",The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115",2013-07-02,7.0,2013,The Lone Ranger,BV,89300000.0,171200000
11,14.0,"Mar 9, 2012",John Carter,"$275,000,000","$73,058,679","$282,778,100",2012-03-09,3.0,2012,John Carter,BV,73100000.0,211100000
12,15.0,"Nov 24, 2010",Tangled,"$260,000,000","$200,821,936","$586,477,240",2010-11-24,11.0,2010,Tangled,BV,200800000.0,391000000
13,17.0,"May 6, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413",2016-05-06,5.0,2016,Captain America: Civil War,BV,408100000.0,745200000
14,18.0,"Mar 25, 2016",Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$867,500,281",2016-03-25,3.0,2016,Batman v Superman: Dawn of Justice,WB,330400000.0,543300000
15,19.0,"Dec 14, 2012",The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568",2012-12-14,12.0,2012,The Hobbit: An Unexpected Journey,WB (NL),303000000.0,718100000
16,21.0,"Dec 13, 2013",The Hobbit: The Desolation of Smaug,"$250,000,000","$258,366,855","$960,366,855",2013-12-13,12.0,2013,The Hobbit: The Desolation of Smaug,WB (NL),258399999.0,700000000
17,22.0,"Dec 17, 2014",The Hobbit: The Battle of the Five Armies,"$250,000,000","$255,119,788","$945,577,621",2014-12-17,12.0,2014,The Hobbit: The Battle of the Five Armies,WB (NL),255100000.0,700900000
18,23.0,"Apr 14, 2017",The Fate of the Furious,"$250,000,000","$225,764,765","$1,234,846,267",2017-04-14,4.0,2017,The Fate of the Furious,Uni.,226000000.0,"1,010.0"
19,25.0,"May 26, 2017",Pirates of the Caribbean: Dead Men Tell No Tales,"$230,000,000","$172,558,876","$788,241,137",2017-05-26,5.0,2017,Pirates of the Caribbean: Dead Men Tell No Tales,BV,172600000.0,622300000
20,27.0,"May 4, 2012",The Avengers,"$225,000,000","$623,279,547","$1,517,935,897",2012-05-04,5.0,2012,NaN,NaN,NaN,NaN
21,29.0,"Jun 14, 2013",Man of Steel,"$225,000,000","$291,045,518","$667,999,518",2013-06-14,6.0,2013,Man of Steel,WB,291000000.0,377000000
22,31.0,"Jul 3, 2012",The Amazing Spider-Man,"$220,000,000","$262,030,663","$757,890,267",2012-07-03,7.0,2012,The Amazing Spider-Man,Sony,262000000.0,495900000
23,32.0,"May 18, 2012",Battleship,"$220,000,000","$65,233,400","$313,477,717",2012-05-18,5.0,2012,Battleship,Uni.,65400000.0,237600000
24,33.0,"Jun 21, 2017",Transformers: The Last Knight,"$217,000,000","$130,168,683","$602,893,340",2017-06-21,6.0,2017,Transformers: The Last Knight,Par.,130199999.0,475300000
25,34.0,"Jun 12, 2015",Jurassic World,"$215,000,000","$652,270,625","$1,648,854,864",2015-06-12,6.0,2015,Jurassic World,Uni.,652300000.0,"1,019.4"
26,35.0,"May 25, 2012",Men in Black 3,"$215,000,000","$179,020,854","$654,213,485",2012-05-25,5.0,2012,NaN,NaN,NaN,NaN
27,37.0,"Jun 27, 2014",Transformers: Age of Extinction,"$210,000,000","$245,439,076","$1,104,039,076",2014-06-27,6.0,2014,Transformers: Age of Extinction,Par.,245400000.0,858600000
28,39.0,"May 14, 2010",Robin Hood,"$210,000,000","$105,487,148","$322,459,006",2010-05-14,5.0,2010,Robin Hood,Uni.,105300000.0,216400000
29,42.0,"Feb 16, 2018",Black Panther,"$200,000,000","$700,059,566","$1,348,258,224",2018-02-16,2.0,2018,Black Panther,BV,700100000.0,646900000
30,44.0,"Jun 15, 2018",Incredibles 2,"$200,000,000","$608,581,744","$1,242,520,711",2018-06-15,6.0,2018,Incredibles 2,BV,608600000.0,634200000
31,45.0,"Dec 16, 2016",Rogue One: A Star Wars Story,"$200,000,000","$532,177,324","$1,049,102,856",2016-12-16,12.0,2016,Rogue One: A Star Wars Story,BV,532200000.0,523900000
32,46.0,"Jun 17, 2016",Finding Dory,"$200,000,000","$486,295,561","$1,021,215,193",2016-06-17,6.0,2016,Finding Dory,BV,486300000.0,542300000
33,47.0,"Jun 18, 2010",Toy Story 3,"$200,000,000","$415,004,880","$1,068,879,522",2010-06-18,6.0,2010,Toy Story 3,BV,415000000.0,652000000
34,48.0,"May 3, 2013",Iron Man 3,"$200,000,000","$408,992,272","$1,215,392,272",2013-05-03,5.0,2013,Iron Man 3,BV,409000000.0,805800000
35,49.0,"May 5, 2017",Guardians of the Galaxy Vol 2,"$200,000,000","$389,813,101","$862,316,233",2017-05-05,5.0,2017,NaN,NaN,NaN,NaN
36,51.0,"Mar 5, 2010",Alice in Wonderland,"$200,000,000","$334,191,110","$1,025,491,110",2010-03-05,3.0,2010,NaN,NaN,NaN,NaN
37,52.0,"Nov 8, 2012",Skyfall,"$200,000,000","$304,360,277","$1,110,526,981",2012-11-08,11.0,2012,Skyfall,Sony,304400000.0,804200000
38,53.0,"Jun 21, 2013",Monsters University,"$200,000,000","$268,488,329","$743,588,329",2013-06-21,6.0,2013,Monsters University,BV,268500000.0,475700000
39,54.0,"Mar 8, 2013",Oz the Great and Powerful,"$200,000,000","$234,770,996","$490,359,051",2013-03-08,3.0,2013,NaN,NaN,NaN,NaN
40,55.0,"May 23, 2014",X-Men: Days of Future Past,"$200,000,000","$233,921,534","$747,862,775",2014-05-23,5.0,2014,X-Men: Days of Future Past,Fox,233900000.0,513900000
41,56.0,"May 2, 2014",The Amazing Spider-Man 2,"$200,000,000","$202,853,933","$708,996,336",2014-05-02,5.0,2014,The Amazing Spider-Man 2,Sony,202900000.0,506100000
42,57.0,"Jun 24, 2011",Cars 2,"$200,000,000","$191,450,875","$560,155,383",2011-06-24,6.0,2011,Cars 2,BV,191500000.0,370700000
43,58.0,"Dec 17, 2010",Tron: Legacy,"$200,000,000","$172,062,763","$400,062,763",2010-12-17,12.0,2010,NaN,NaN,NaN,NaN
44,60.0,"Nov 16, 2018",Fantastic Beasts: The Crimes of Grindelwald,"$200,000,000","$159,555,901","$652,220,086",2018-11-16,11.0,2018,Fantastic Beasts: The Crimes of Grindelwald,WB,159600000.0,494100000
45,62.0,"Jun 17, 2011",Green Lantern,"$200,000,000","$116,601,172","$219,535,492",2011-06-17,6.0,2011,Green Lantern,WB,116600000.0,103300000
46,63.0,"May 28, 2010",Prince of Persia: Sands of Time,"$200,000,000","$90,759,676","$336,359,676",2010-05-28,5.0,2010,NaN,NaN,NaN,NaN
47,64.0,"Jun 29, 2011",Transformers: Dark of the Moon,"$195,000,000","$352,390,543","$1,123,790,543",2011-06-29,6.0,2011,Transformers: Dark of the Moon,P/DW,352400000.0,771400000
48,65.0,"Jun 9, 2017",The Mummy,"$195,000,000","$80,101,125","$409,953,905",2017-06-09,6.0,2017,NaN,NaN,NaN,NaN
49,66.0,"Mar 1, 2013",Jack the Giant Slayer,"$195,000,000","$65,187,603","$197,687,603",2013-03-01,3.0,2013,Jack the Giant Slayer,WB (NL),65200000.0,132500000

In [14]:
## Checking work: The duplicated values are the Null values from where the data sets did not overlap
## effictively concatenating the tables and merging any overlaps. 
compare.title.duplicated().sum()  #2175 - movie

976

In [15]:
## Part II to the proof that we've got unique movies on each row
compare_duplicates = compare.loc[(compare['title'].duplicated(keep = False) == True)]
compare_duplicates.title.value_counts(dropna = False)

NaN          976
Bluebeard      2
Name: title, dtype: int64

In [16]:
## Now need to merge Movie and Title columns into one
## going to try fillna

compare['movie_title'] = compare.movie.fillna(compare.title)

compare.head(20)

,id,release_date,movie,production_budget,domestic_gross_x,worldwide_gross,date,month,year,title,studio,domestic_gross_y,foreign_gross,movie_title
0,2.0,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2011-05-20,5.0,2011,Pirates of the Caribbean: On Stranger Tides,BV,241100000.0,804600000,Pirates of the Caribbean: On Stranger Tides
1,3.0,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",2019-06-07,6.0,2019,NaN,NaN,NaN,NaN,Dark Phoenix
2,4.0,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",2015-05-01,5.0,2015,Avengers: Age of Ultron,BV,459000000.0,946400000,Avengers: Age of Ultron
3,5.0,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",2017-12-15,12.0,2017,NaN,NaN,NaN,NaN,Star Wars Ep. VIII: The Last Jedi
4,6.0,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220",2015-12-18,12.0,2015,NaN,NaN,NaN,NaN,Star Wars Ep. VII: The Force Awakens
5,7.0,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200",2018-04-27,4.0,2018,Avengers: Infinity War,BV,678800000.0,"1,369.5",Avengers: Infinity War
6,9.0,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209",2017-11-17,11.0,2017,Justice League,WB,229000000.0,428900000,Justice League
7,10.0,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923",2015-11-06,11.0,2015,Spectre,Sony,200100000.0,680600000,Spectre
8,11.0,"Jul 20, 2012",The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099",2012-07-20,7.0,2012,The Dark Knight Rises,WB,448100000.0,636800000,The Dark Knight Rises
9,12.0,"May 25, 2018",Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347",2018-05-25,5.0,2018,Solo: A Star Wars Story,BV,213800000.0,179200000,Solo: A Star Wars Story
10,13.0,"Jul 2, 2013",The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115",2013-07-02,7.0,2013,The Lone Ranger,BV,89300000.0,171200000,The Lone Ranger
11,14.0,"Mar 9, 2012",John Carter,"$275,000,000","$73,058,679","$282,778,100",2012-03-09,3.0,2012,John Carter,BV,73100000.0,211100000,John Carter
12,15.0,"Nov 24, 2010",Tangled,"$260,000,000","$200,821,936","$586,477,240",2010-11-24,11.0,2010,Tangled,BV,200800000.0,391000000,Tangled
13,17.0,"May 6, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413",2016-05-06,5.0,2016,Captain America: Civil War,BV,408100000.0,745200000,Captain America: Civil War
14,18.0,"Mar 25, 2016",Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$867,500,281",2016-03-25,3.0,2016,Batman v Superman: Dawn of Justice,WB,330400000.0,543300000,Batman v Superman: Dawn of Justice
15,19.0,"Dec 14, 2012",The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568",2012-12-14,12.0,2012,The Hobbit: An Unexpected Journey,WB (NL),303000000.0,718100000,The Hobbit: An Unexpected Journey
16,21.0,"Dec 13, 2013",The Hobbit: The Desolation of Smaug,"$250,000,000","$258,366,855","$960,366,855",2013-12-13,12.0,2013,The Hobbit: The Desolation of Smaug,WB (NL),258399999.0,700000000,The Hobbit: The Desolation of Smaug
17,22.0,"Dec 17, 2014",The Hobbit: The Battle of the Five Armies,"$250,000,000","$255,119,788","$945,577,621",2014-12-17,12.0,2014,The Hobbit: The Battle of the Five Armies,WB (NL),255100000.0,700900000,The Hobbit: The Battle of the Five Armies
18,23.0,"Apr 14, 2017",The Fate of the Furious,"$250,000,000","$225,764,765","$1,234,846,267",2017-04-14,4.0,2017,The Fate of the Furious,Uni.,226000000.0,"1,010.0",The Fate of the Furious
19,25.0,"May 26, 2017",Pirates of the Caribbean: Dead Men Tell No Tales,"$230,000,000","$172,558,876","$788,241,137",2017-05-26,5.0,2017,Pirates of the Caribbean: Dead Men Tell No Tales,BV,172600000.0,622300000,Pirates of the Caribbean: Dead Men Tell No Tales

In [17]:
## Want to see the duplicates that resulted from the merge because the Release_Date year didn't match the budget year
compare.loc[(compare['movie_title'].duplicated(keep = False) == True)].sort_values("movie_title", axis = 0)

,id,release_date,movie,production_budget,domestic_gross_x,worldwide_gross,date,month,year,title,studio,domestic_gross_y,foreign_gross,movie_title
3663,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2016,A Monster Calls,Focus,3700000.0,43600000,A Monster Calls
538,41.0,"Jan 6, 2017",A Monster Calls,"$43,000,000","$3,740,823","$46,414,530",2017-01-06,1.0,2017,NaN,NaN,NaN,NaN,A Monster Calls
1452,67.0,"Dec 21, 2011",Albert Nobbs,"$7,500,000","$3,014,696","$8,539,003",2011-12-21,12.0,2011,NaN,NaN,NaN,NaN,Albert Nobbs
2655,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2012,Albert Nobbs,RAtt.,3000000.0,2600000,Albert Nobbs
2541,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2011,Beautiful Boy,Anch.,77200.0,NaN,Beautiful Boy
876,95.0,"Oct 12, 2018",Beautiful Boy,"$25,000,000","$7,634,767","$13,031,424",2018-10-12,10.0,2018,NaN,NaN,NaN,NaN,Beautiful Boy
2889,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2013,Believe,ORF,6200000.0,NaN,Believe
1699,13.0,"Dec 2, 2016",Believe,"$3,500,000","$890,303","$890,303",2016-12-02,12.0,2016,NaN,NaN,NaN,NaN,Believe
832,52.0,"Mar 21, 2014",Blood Ties,"$26,000,000","$42,472","$2,923,959",2014-03-21,3.0,2014,NaN,NaN,NaN,NaN,Blood Ties
2572,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2011,Blood Ties,ALP,2800.0,NaN,Blood Ties
2328,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2010,Bluebeard,Strand,33500.0,5200,Bluebeard
4114,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2017,Bluebeard,WGUSA,43100.0,NaN,Bluebeard
3536,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2015,Eden,BG,65500.0,NaN,Eden
1795,66.0,"Jan 19, 2016",Eden,"$2,300,000",$0,$0,2016-01-19,1.0,2016,NaN,NaN,NaN,NaN,Eden
3150,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2014,Mommy,RAtt.,3500000.0,NaN,Mommy
1620,1.0,"Jan 23, 2015",Mommy,"$4,900,000","$3,498,695","$17,536,004",2015-01-23,1.0,2015,NaN,NaN,NaN,NaN,Mommy
2637,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2012,On the Road,IFC,744000.0,8000000,On the Road
883,17.0,"Mar 22, 2013",On the Road,"$25,000,000","$720,828","$9,313,302",2013-03-22,3.0,2013,NaN,NaN,NaN,NaN,On the Road
3684,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2016,Regression,W/Dim.,55000.0,17600000,Regression
1019,6.0,"Oct 30, 2015",Regression,"$20,000,000","$55,039","$15,824,374",2015-10-30,10.0,2015,NaN,NaN,NaN,NaN,Regression
28,39.0,"May 14, 2010",Robin Hood,"$210,000,000","$105,487,148","$322,459,006",2010-05-14,5.0,2010,Robin Hood,Uni.,105300000.0,216400000,Robin Hood
247,9.0,"Nov 21, 2018",Robin Hood,"$99,000,000","$30,824,628","$84,747,441",2018-11-21,11.0,2018,NaN,NaN,NaN,NaN,Robin Hood
963,25.0,"Jan 9, 2015",Selma,"$20,000,000","$52,076,908","$66,776,576",2015-01-09,1.0,2015,NaN,NaN,NaN,NaN,Selma
3074,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2014,Selma,Par.,52100000.0,14700000,Selma
2007,52.0,"Dec 31, 2012",Snitch,"$850,000",$0,$0,2012-12-31,12.0,2012,NaN,NaN,NaN,NaN,Snitch
1122,26.0,"Feb 22, 2013",Snitch,"$15,000,000","$42,930,462","$57,907,734",2013-02-22,2.0,2013,Snitch,LG/S,42900000.0,NaN,Snitch
2292,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2010,The Girl on the Train,Strand,208000.0,97100,The Girl on the Train
520,68.0,"Oct 7, 2016",The Girl on the Train,"$45,000,000","$75,395,035","$174,278,214",2016-10-07,10.0,2016,NaN,NaN,NaN,NaN,The Girl on the Train
2203,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2010,The Girl with the Dragon Tattoo,MBox,10100000.0,94300000,The Girl with the Dragon Tattoo
264,51.0,"Dec 20, 2011",The Girl with the Dragon Tattoo,"$90,000,000","$102,515,793","$239,373,970",2011-12-20,12.0,2011,NaN,NaN,NaN,NaN,The Girl with the Dragon Tattoo
1169,90.0,"Jan 13, 2012",The Iron Lady,"$14,000,000","$29,959,436","$115,592,104",2012-01-13,1.0,2012,NaN,NaN,NaN,NaN,The Iron Lady
2350,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2011,The Iron Lady,Wein.,30000000.0,84900000,The Iron Lady
1506,47.0,"Jan 15, 2016",The Lady in the Van,"$6,000,000","$10,021,175","$42,320,503",2016-01-15,1.0,2016,NaN,NaN,NaN,NaN,The Lady in the Van
3350,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2015,The Lady in the Van,SPC,10000000.0,31400000,The Lady in the Van
2486,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2011,The Other Woman,IFC,25400.0,427000,The Other Woman
565,2.0,"Apr 25, 2014",The Other Woman,"$40,000,000","$83,911,193","$195,111,193",2014-04-25,4.0,2014,NaN,NaN,NaN,NaN,The Other Woman
4039,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2017,The Square,Magn.,1500000.0,NaN,The Square
1853,10.0,"Apr 9, 2010",The Square,"$1,900,000","$406,216","$740,932",2010-04-09,4.0,2010,NaN,NaN,NaN,NaN,The Square
1885,100.0,"Oct 25, 2013",The Square,"$1,500,000","$124,244","$176,262",2013-10-25,10.0,2013,NaN,NaN,NaN,NaN,The Square
1992,31.0,"Dec 31, 2012",Trance,"$950,000",$0,$0,2012-12-31,12.0,2012,NaN,NaN,NaN,NaN,Trance
1104,71.0,"Apr 5, 2013",Trance,"$16,000,000","$2,322,593","$22,594,052",2013-04-05,4.0,2013,Trance,FoxS,2300000.0,21900000,Trance
1475,43.0,"Jan 13, 2012",We Need to Talk About Kevin,"$7,000,000","$1,738,692","$10,765,283",2012-01-13,1.0,2012,NaN,NaN,NaN,NaN,We Need to Talk About Kevin
2410,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,2011,We Need to Talk About Kevin,Osci.,1700000.0,4300000,We Need to Talk About Kevin

In [18]:
## Checking to see if the merge attempt worked

compare.loc[:,['movie','title','movie_title']].describe()

         movie      title movie_title
count     2191       3387        4363
unique    2187       3386        4341
top     Trance  Bluebeard  The Square
freq         2          2           3

In [19]:

rem_dup = compare.loc[(compare['movie_title'].duplicated(keep = False) == True)]\
    .groupby('movie_title', axis = 0, sort = False)\
    .apply(lambda x: x.fillna(method='ffill')\
    .fillna(method='bfill').drop_duplicates())
    
    
#     .reset_index(drop=True)
#     .set_index('movie_title')

## Was having an issue with the following set of code (attempting to remove duplicate movie 
## instances after a successful smooshing of rows)

In [20]:
## Removing duplicates after successful overwriting NaN values between rows with duplicate movies
rem_dup.drop_duplicates(subset = 'id', inplace = True, keep = 'first')

In [21]:
## Checking to make sure the duplicate product_budget values are gone. They are!
len(rem_dup.production_budget.value_counts())

21

In [22]:
print(compare.columns, rem_dup.columns)

## This shows that I reindexed the deduplicated list to make "movie_title" the index. Once I do the same
## for "compare", I can then append the dedupped list?

Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross_x',
       'worldwide_gross', 'date', 'month', 'year', 'title', 'studio',
       'domestic_gross_y', 'foreign_gross', 'movie_title'],
      dtype='object') Index(['id', 'release_date', 'movie', 'production_budget', 'domestic_gross_x',
       'worldwide_gross', 'date', 'month', 'year', 'title', 'studio',
       'domestic_gross_y', 'foreign_gross', 'movie_title'],
      dtype='object')

In [23]:
compare.movie_title.duplicated().sum() 

## Going to just drop these duplicates in the main list and then append the dedupped smooshed list

22

In [24]:
compare.drop_duplicates(subset = 'movie_title', keep = False, inplace = True)

In [25]:
compare.set_index('movie_title', inplace = True)
compare.head()

,id,release_date,movie,production_budget,domestic_gross_x,worldwide_gross,date,month,year,title,studio,domestic_gross_y,foreign_gross
movie_title,,,,,,,,,,,,,
Pirates of the Caribbean: On Stranger Tides,2.0,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2011-05-20,5.0,2011,Pirates of the Caribbean: On Stranger Tides,BV,241100000.0,804600000
Dark Phoenix,3.0,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",2019-06-07,6.0,2019,NaN,NaN,NaN,NaN
Avengers: Age of Ultron,4.0,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",2015-05-01,5.0,2015,Avengers: Age of Ultron,BV,459000000.0,946400000
Star Wars Ep. VIII: The Last Jedi,5.0,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",2017-12-15,12.0,2017,NaN,NaN,NaN,NaN
Star Wars Ep. VII: The Force Awakens,6.0,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220",2015-12-18,12.0,2015,NaN,NaN,NaN,NaN

In [26]:
compare.append(rem_dup)

/Users/tingtingli/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,date,domestic_gross_x,domestic_gross_y,foreign_gross,id,month,movie,movie_title,production_budget,release_date,studio,title,worldwide_gross,year
Pirates of the Caribbean: On Stranger Tides,2011-05-20,"$241,063,875",241100000.0,804600000,2.0,5.0,Pirates of the Caribbean: On Stranger Tides,NaN,"$410,600,000","May 20, 2011",BV,Pirates of the Caribbean: On Stranger Tides,"$1,045,663,875",2011
Dark Phoenix,2019-06-07,"$42,762,350",NaN,NaN,3.0,6.0,Dark Phoenix,NaN,"$350,000,000","Jun 7, 2019",NaN,NaN,"$149,762,350",2019
Avengers: Age of Ultron,2015-05-01,"$459,005,868",459000000.0,946400000,4.0,5.0,Avengers: Age of Ultron,NaN,"$330,600,000","May 1, 2015",BV,Avengers: Age of Ultron,"$1,403,013,963",2015
Star Wars Ep. VIII: The Last Jedi,2017-12-15,"$620,181,382",NaN,NaN,5.0,12.0,Star Wars Ep. VIII: The Last Jedi,NaN,"$317,000,000","Dec 15, 2017",NaN,NaN,"$1,316,721,747",2017
Star Wars Ep. VII: The Force Awakens,2015-12-18,"$936,662,225",NaN,NaN,6.0,12.0,Star Wars Ep. VII: The Force Awakens,NaN,"$306,000,000","Dec 18, 2015",NaN,NaN,"$2,053,311,220",2015
Avengers: Infinity War,2018-04-27,"$678,815,482",678800000.0,"1,369.5",7.0,4.0,Avengers: Infinity War,NaN,"$300,000,000","Apr 27, 2018",BV,Avengers: Infinity War,"$2,048,134,200",2018
Justice League,2017-11-17,"$229,024,295",229000000.0,428900000,9.0,11.0,Justice League,NaN,"$300,000,000","Nov 17, 2017",WB,Justice League,"$655,945,209",2017
Spectre,2015-11-06,"$200,074,175",200100000.0,680600000,10.0,11.0,Spectre,NaN,"$300,000,000","Nov 6, 2015",Sony,Spectre,"$879,620,923",2015
The Dark Knight Rises,2012-07-20,"$448,139,099",448100000.0,636800000,11.0,7.0,The Dark Knight Rises,NaN,"$275,000,000","Jul 20, 2012",WB,The Dark Knight Rises,"$1,084,439,099",2012
Solo: A Star Wars Story,2018-05-25,"$213,767,512",213800000.0,179200000,12.0,5.0,Solo: A Star Wars Story,NaN,"$275,000,000","May 25, 2018",BV,Solo: A Star Wars Story,"$393,151,347",2018
The Lone Ranger,2013-07-02,"$89,302,115",89300000.0,171200000,13.0,7.0,The Lone Ranger,NaN,"$275,000,000","Jul 2, 2013",BV,The Lone Ranger,"$260,002,115",2013
John Carter,2012-03-09,"$73,058,679",73100000.0,211100000,14.0,3.0,John Carter,NaN,"$275,000,000","Mar 9, 2012",BV,John Carter,"$282,778,100",2012
Tangled,2010-11-24,"$200,821,936",200800000.0,391000000,15.0,11.0,Tangled,NaN,"$260,000,000","Nov 24, 2010",BV,Tangled,"$586,477,240",2010
Captain America: Civil War,2016-05-06,"$408,084,349",408100000.0,745200000,17.0,5.0,Captain America: Civil War,NaN,"$250,000,000","May 6, 2016",BV,Captain America: Civil War,"$1,140,069,413",2016
Batman v Superman: Dawn of Justice,2016-03-25,"$330,360,194",330400000.0,543300000,18.0,3.0,Batman v Superman: Dawn of Justice,NaN,"$250,000,000","Mar 25, 2016",WB,Batman v Superman: Dawn of Justice,"$867,500,281",2016
The Hobbit: An Unexpected Journey,2012-12-14,"$303,003,568",303000000.0,718100000,19.0,12.0,The Hobbit: An Unexpected Journey,NaN,"$250,000,000","Dec 14, 2012",WB (NL),The Hobbit: An Unexpected Journey,"$1,017,003,568",2012
The Hobbit: The Desolation of Smaug,2013-12-13,"$258,366,855",258399999.0,700000000,21.0,12.0,The Hobbit: The Desolation of Smaug,NaN,"$250,000,000","Dec 13, 2013",WB (NL),The Hobbit: The Desolation of Smaug,"$960,366,855",2013
The Hobbit: The Battle of the Five Armies,2014-12-17,"$255,119,788",255100000.0,700900000,22.0,12.0,The Hobbit: The Battle of the Five Armies,NaN,"$250,000,000","Dec 17, 2014",WB (NL),The Hobbit: The Battle of the Five Armies,"$945,577,621",2014
The Fate of the Furious,2017-04-14,"$225,764,765",226000000.0,"1,010.0",23.0,4.0,The Fate of the Furious,NaN,"$250,000,000","Apr 14, 2017",Uni.,The Fate of the Furious,"$1,234,846,267",2017
Pirates of the Caribbean: Dead Men Tell No Tales,2017-05-26,"$172,558,876",172600000.0,622300000,25.0,5.0,Pirates of the Caribbean: Dead Men Tell No Tales,NaN,"$230,000,000","May 26, 2017",BV,Pirates of the Caribbean: Dead Men Tell No Tales,"$788,241,137",2017
The Avengers,2012-05-04,"$623,279,547",NaN,NaN,27.0,5.0,The Avengers,NaN,"$225,000,000","May 4, 2012",NaN,NaN,"$1,517,935,897",2012
Man of Steel,2013-06-14,"$291,045,518",291000000.0,377000000,29.0,6.0,Man of Steel,NaN,"$225,000,000","Jun 14, 2013",WB,Man of Steel,"$667,999,518",2013
The Amazing Spider-Man,2012-07-03,"$262,030,663",262000000.0,495900000,31.0,7.0,The Amazing Spider-Man,NaN,"$220,000,000","Jul 3, 2012",Sony,The Amazing Spider-Man,"$757,890,267",2012
Battleship,2012-05-18,"$65,233,400",65400000.0,237600000,32.0,5.0,Battleship,NaN,"$220,000,000","May 18, 2012",Uni.,Battleship,"$313,477,717",2012
Transformers: The Last Knight,2017-06-21,"$130,168,683",130199999.0,475300000,33.0,6.0,Transformers: The Last Knight,NaN,"$217,000,000","Jun 21, 2017",Par.,Transformers: The Last Knight,"$602,893,340",2017
Jurassic World,2015-06-12,"$652,270,625",652300000.0,"1,019.4",34.0,6.0,Jurassic World,NaN,"$215,000,000","Jun 12, 2015",Uni.,Jurassic World,"$1,648,854,864",2015
Men in Black 3,2012-05-25,"$179,020,854",NaN,NaN,35.0,5.0,Men in Black 3,NaN,"$215,000,000","May 25, 2012",NaN,NaN,"$654,213,485",2012
Transformers: Age of Extinction,2014-06-27,"$245,439,076",245400000.0,858600000,37.0,6.0,Transformers: Age of Extinction,NaN,"$210,000,000","Jun 27, 2014",Par.,Transformers: Age of Extinction,"$1,104,039,076",2014
Black Panther,2018-02-16,"$700,059,566",700100000.0,646900000,42.0,2.0,Black Panther,NaN,"$200,000,000","Feb 16, 2018",BV,Black Panther,"$1,348,258,224",2018
Incredibles 2,2018-06-15,"$608,581,744",608600000.0,634200000,44.0,6.0,Incredibles 2,NaN,"$200,000,000","Jun 15, 2018",BV,Incredibles 2,"$1,242,520,711",2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Beauty and the Dogs,NaT,NaN,8900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Osci.,Beauty and the Dogs,NaN,2018
The Quake,NaT,NaN,6200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Magn.,The Quake,NaN,2018
Edward II (2018 re-release),NaT,NaN,4800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FM,Edward II (2018 re-release),NaN,2018
El Pacto,NaT,NaN,2500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sony,El Pacto,NaN,2018
The Swan,NaT,NaN,2400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Synergetic,The Swan,NaN,2018
An Actor Prepares,NaT,NaN,1700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Grav.,An Actor Prepares,NaN,2018
"(Robin Hood, 28)",2010-05-14,"$105,487,148",105300000.0,216400000,39.0,5.0,Robin Hood,Robin Hood,"$210,000,000","May 14, 2010",Uni.,Robin Hood,"$322,459,006",2010
"(Robin Hood, 247)",2018-11-21,"$30,824,628",105300000.0,216400000,9.0,11.0,Robin Hood,Robin Hood,"$99,000,000","Nov 21, 2018",Uni.,Robin Hood,"$84,747,441",2018
"(The Girl with the Dragon Tattoo, 264)",2011-12-20,"$102,515,793",10100000.0,94300000,51.0,12.0,The Girl with the Dragon Tattoo,The Girl with the Dragon Tattoo,"$90,000,000","Dec 20, 2011",MBox,The Girl with the Dragon Tattoo,"$239,373,970",2011
"(The Girl on the Train, 520)",2016-10-07,"$75,395,035",208000.0,97100,68.0,10.0,The Girl on the Train,The Girl on the Train,"$45,000,000","Oct 7, 2016",Strand,The Girl on the Train,"$174,278,214",2016
"(A Monster Calls, 538)",2017-01-06,"$3,740,823",3700000.0,43600000,41.0,1.0,A Monster Calls,A Monster Calls,"$43,000,000","Jan 6, 2017",Focus,A Monster Calls,"$46,414,530",2017
"(The Other Woman, 565)",2014-04-25,"$83,911,193",25400.0,427000,2.0,4.0,The Other Woman,The Other Woman,"$40,000,000","Apr 25, 2014",IFC,The Other Woman,"$195,111,193",2014
"(Blood Ties, 832)",2014-03-21,"$42,472",2800.0,NaN,52.0,3.0,Blood Ties,Blood Ties,"$26,000,000","Mar 21, 2014",ALP,Blood Ties,"$2,923,959",2014
"(Beautiful Boy, 876)",2018-10-12,"$7,634,767",77200.0,NaN,95.0,10.0,Beautiful Boy,Beautiful Boy,"$25,000,000","Oct 12, 2018",Anch.,Beautiful Boy,"$13,031,424",2018
"(On the Road, 883)",2013-03-22,"$720,828",744000.0,8000000,17.0,3.0,On the Road,On the Road,"$25,000,000","Mar 22, 2013",IFC,On the Road,"$9,313,302",2013
"(Selma, 963)",2015-01-09,"$52,076,908",52100000.0,14700000,25.0,1.0,Selma,Selma,"$20,000,000","Jan 9, 2015",Par.,Selma,"$66,776,576",2015
"(Regression, 1019)",2015-10-30,"$55,039",55000.0,17600000,6.0,10.0,Regression,Regression,"$20,000,000","Oct 30, 2015",W/Dim.,Regression,"$15,824,374",2015
"(Trance, 1104)",2013-04-05,"$2,322,593",2300000.0,21900000,71.0,4.0,Trance,Trance,"$16,000,000","Apr 5, 2013",FoxS,Trance,"$22,594,052",2013
"(Trance, 1992)",2012-12-31,$0,2300000.0,21900000,31.0,12.0,Trance,Trance,"$950,000","Dec 31, 2012",FoxS,Trance,$0,2012
"(Snitch, 1122)",2013-02-22,"$42,930,462",42900000.0,NaN,26.0,2.0,Snitch,Snitch,"$15,000,000","Feb 22, 2013",LG/S,Snitch,"$57,907,734",2013
"(The Iron Lady, 1169)",2012-01-13,"$29,959,436",30000000.0,84900000,90.0,1.0,The Iron Lady,The Iron Lady,"$14,000,000","Jan 13, 2012",Wein.,The Iron Lady,"$115,592,104",2012
"(Albert Nobbs, 1452)",2011-12-21,"$3,014,696",3000000.0,2600000,67.0,12.0,Albert Nobbs,Albert Nobbs,"$7,500,000","Dec 21, 2011",RAtt.,Albert Nobbs,"$8,539,003",2011
"(We Need to Talk About Kevin, 1475)",2012-01-13,"$1,738,692",1700000.0,4300000,43.0,1.0,We Need to Talk About Kevin,We Need to Talk About Kevin,"$7,000,000","Jan 13, 2012",Osci.,We Need to Talk About Kevin,"$10,765,283",2012
"(The Lady in the Van, 1506)",2016-01-15,"$10,021,175",10000000.0,31400000,47.0,1.0,The Lady in the Van,The Lady in the Van,"$6,000,000","Jan 15, 2016",SPC,The Lady in the Van,"$42,320,503",2016
"(Mommy, 1620)",2015-01-23,"$3,498,695",3500000.0,NaN,1.0,1.0,Mommy,Mommy,"$4,900,000","Jan 23, 2015",RAtt.,Mommy,"$17,536,004",2015
"(Believe, 1699)",2016-12-02,"$890,303",6200000.0,NaN,13.0,12.0,Believe,Believe,"$3,500,000","Dec 2, 2016",ORF,Believe,"$890,303",2016
"(Eden, 1795)",2016-01-19,$0,65500.0,NaN,66.0,1.0,Eden,Eden,"$2,300,000","Jan 19, 2016",BG,Eden,$0,2016
"(The Square, 1853)",2010-04-09,"$406,216",1500000.0,NaN,10.0,4.0,The Square,The Square,"$1,900,000","Apr 9, 2010",Magn.,The Square,"$740,932",2010
"(The Square, 1885)",2013-10-25,"$124,244",1500000.0,NaN,100.0,10.0,The Square,The Square,"$1,500,000","Oct 25, 2013",Magn.,The Square,"$176,262",2013
"(Bluebeard, 2328)",NaT,NaN,33500.0,5200,NaN,NaN,NaN,Bluebeard,NaN,NaN,Strand,Bluebeard,NaN,2010

In [27]:
compare.drop(columns = ['date', 'id', 'movie', 'release_date', 'domestic_gross_y', 'foreign_gross', 'title'], inplace = True)

compare.head()

,production_budget,domestic_gross_x,worldwide_gross,month,year,studio
movie_title,,,,,,
Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",5.0,2011,BV
Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",6.0,2019,NaN
Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",5.0,2015,BV
Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",12.0,2017,NaN
Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220",12.0,2015,NaN

In [28]:
##  Now to explore adding "popularity", vote_average, vote_count, & genre_ids

In [29]:
tmdb_2.columns

## Need to drop: Unnamed, id, original_title, & release_date

Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count',
       'date', 'month', 'year'],
      dtype='object')

In [30]:
tmdb_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26290 entries, 0 to 26516
Data columns (total 13 columns):
Unnamed: 0           26290 non-null int64
genre_ids            26290 non-null object
id                   26290 non-null int64
original_language    26290 non-null object
original_title       26290 non-null object
popularity           26290 non-null float64
release_date         26290 non-null object
title                26290 non-null object
vote_average         26290 non-null float64
vote_count           26290 non-null int64
date                 26290 non-null datetime64[ns]
month                26290 non-null int64
year                 26290 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(5)
memory usage: 2.8+ MB

In [31]:
tmdb_2.duplicated(subset = 'title').sum()
tmdb_2.loc[(tmdb_2['title'].duplicated(keep = False) == True)].sort_values("title", axis = 0)

## Results: The 1789 duplicated entries look like legit duplicates. Variation due to different ID numbers, 
##          genres, and original_title (usually same movie in another language)
##          I can safely drop duplicates (keeping the first one) and set index to title 
##          (after renaming it to movie_title to matach the other table)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,date,month,year
9191,9191,[99],95383,en,$ellebrity,1.420,2013-01-11,$ellebrity,5.6,12,2013-01-11,1,2013
6315,6315,[99],95383,en,$ellebrity,1.420,2013-01-11,$ellebrity,5.6,12,2013-01-11,1,2013
20070,20070,"[99, 36, 10770]",430364,en,'85: The Greatest Team in Pro Football History,0.600,2018-01-29,'85: The Greatest Team in Pro Football History,7.5,2,2018-01-29,1,2018
26340,26340,"[99, 36, 10770]",430364,en,'85: The Greatest Team in Pro Football History,0.600,2018-01-29,'85: The Greatest Team in Pro Football History,7.5,2,2018-01-29,1,2018
18016,18016,"[18, 10749]",416691,en,1 Night,5.409,2017-02-10,1 Night,6.4,107,2017-02-10,2,2017
21298,21298,"[18, 10749]",416691,en,1 Night,5.409,2017-02-10,1 Night,6.4,107,2017-02-10,2,2017
11705,11705,"[18, 10749]",253251,en,10.000 KM,4.205,2015-07-10,"10,000 km",6.5,49,2015-07-10,7,2015
14850,14850,"[18, 10749]",253251,en,10.000 KM,4.205,2015-07-10,"10,000 km",6.5,49,2015-07-10,7,2015
21096,21096,[18],334532,en,100 Streets,7.317,2016-06-08,100 Streets,6.2,91,2016-06-08,6,2016
17782,17782,[18],334532,en,100 Streets,7.317,2016-06-08,100 Streets,6.2,91,2016-06-08,6,2016
20020,20020,[99],418695,en,100 Years,0.600,2016-09-20,100 Years,8.0,2,2016-09-20,9,2016
22376,22376,"[16, 99]",436608,en,100 Years,1.175,2017-01-17,100 Years,6.0,1,2017-01-17,1,2017
18887,18887,"[18, 80]",394770,en,11:55,1.400,2017-06-09,11:55,5.0,8,2017-06-09,6,2017
22224,22224,"[18, 80]",394770,en,11:55,1.400,2017-06-09,11:55,5.0,8,2017-06-09,6,2017
18921,18921,[18],388697,en,1985,1.384,2016-03-11,1985,5.0,1,2016-03-11,3,2016
24536,24536,[18],502220,en,1985,6.278,2018-10-26,1985,6.5,10,2018-10-26,10,2018
20839,20839,[18],342737,en,20th Century Women,10.413,2016-12-28,20th Century Women,7.4,504,2016-12-28,12,2016
17553,17553,[18],342737,en,20th Century Women,10.413,2016-12-28,20th Century Women,7.4,504,2016-12-28,12,2016
16259,16259,[28],488109,es,24 Hours,0.679,2015-09-25,24 Hours,10.0,1,2015-09-25,9,2015
14075,14075,[],287781,en,24 Hours,0.600,2014-07-25,24 Hours,3.0,1,2014-07-25,7,2014
19563,19563,"[35, 10749]",441453,en,36 Hour Layover,0.680,2016-09-24,36 Hour Layover,10.0,1,2016-09-24,9,2016
22860,22860,"[35, 10749]",441453,en,36 Hour Layover,0.680,2016-09-24,36 Hour Layover,10.0,1,2016-09-24,9,2016
9272,9272,"[18, 36, 27]",356891,en,37,1.400,2013-09-22,37,1.0,1,2013-09-22,9,2013
12481,12481,[],286986,en,37,1.400,2014-08-08,37,0.5,1,2014-08-08,8,2014
8930,8930,"[18, 878]",121803,en,41,2.004,2013-08-09,41,6.4,12,2013-08-09,8,2013
15273,15273,"[18, 878]",121803,en,41,2.004,2013-08-09,41,6.4,12,2013-08-09,8,2013
6078,6078,"[18, 878]",121803,en,41,2.004,2013-08-09,41,6.4,12,2013-08-09,8,2013
6335,6335,[99],144481,en,41,1.400,2012-06-12,41,6.0,2,2012-06-12,6,2012
26382,26382,[99],446470,en,44 Pages,0.600,2018-04-18,44 Pages,6.7,3,2018-04-18,4,2018
23460,23460,[99],446470,en,44 Pages,0.600,2018-04-18,44 Pages,6.7,3,2018-04-18,4,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15026,15026,"[35, 18]",270886,fr,Tu dors Nicole,2.835,2014-10-09,You're Sleeping Nicole,6.7,23,2014-10-09,10,2014
11873,11873,"[35, 18]",270886,fr,Tu dors Nicole,2.835,2014-10-09,You're Sleeping Nicole,6.7,23,2014-10-09,10,2014
26129,26129,[],551976,en,Young & Beautiful,0.687,2018-03-01,Young & Beautiful,8.3,2,2018-03-01,3,2018
11187,11187,[18],184314,fr,Jeune & Jolie,9.866,2014-04-25,Young & Beautiful,6.3,600,2014-04-25,4,2014
17933,17933,"[37, 28, 18, 878]",215379,en,Young Ones,6.107,2014-10-09,Young Ones,5.8,160,2014-10-09,10,2014
11525,11525,"[37, 28, 18, 878]",215379,en,Young Ones,6.107,2014-10-09,Young Ones,5.8,160,2014-10-09,10,2014
2398,2398,"[14, 18, 28, 35, 878]",98957,en,Your Highness,0.600,2010-01-01,Your Highness,3.0,4,2010-01-01,1,2010
2560,2560,"[35, 12, 14]",38319,en,Your Highness,12.254,2011-04-08,Your Highness,5.3,735,2011-04-08,4,2011
17389,17389,"[10749, 16, 18]",372058,ja,君の名は。,28.238,2017-04-07,Your Name.,8.6,4161,2017-04-07,4,2017
20632,20632,"[10749, 16, 18]",372058,ja,君の名は。,28.238,2017-04-07,Your Name.,8.6,4161,2017-04-07,4,2017
14355,14355,"[35, 18]",310593,it,Youth,9.265,2015-12-04,Youth,6.9,1098,2015-12-04,12,2015
9484,9484,[18],168552,he,Hanoar,1.008,2013-10-12,Youth,5.3,9,2013-10-12,10,2013
21336,21336,"[18, 36]",457251,zh,芳华,5.082,2017-12-15,Youth,7.7,27,2017-12-15,12,2017
21681,21681,"[35, 18]",338387,en,Youth in Oregon,2.534,2017-02-03,Youth in Oregon,6.3,19,2017-02-03,2,2017
18361,18361,"[35, 18]",338387,en,Youth in Oregon,2.534,2017-02-03,Youth in Oregon,6.3,19,2017-02-03,2,2017
24629,24629,[18],326382,es,Zama,5.671,2017-09-30,Zama,6.9,50,2017-09-30,9,2017
21273,21273,[18],326382,es,Zama,5.671,2017-09-30,Zama,6.9,50,2017-09-30,9,2017
15061,15061,"[10751, 16]",94196,fr,Zarafa,2.705,2012-11-11,Zarafa,6.8,39,2012-11-11,11,2012
5888,5888,"[10751, 16]",94196,fr,Zarafa,2.705,2012-11-11,Zarafa,6.8,39,2012-11-11,11,2012
24461,24461,"[10749, 18, 35]",496076,hi,शून्य,6.889,2018-12-21,Zero,5.4,30,2018-12-21,12,2018
1501,1501,"[28, 18]",36410,en,Zero,0.840,2010-02-06,Zero,5.8,6,2010-02-06,2,2010
563,563,"[16, 18]",75825,en,Zero,3.366,2010-08-01,Zero,7.4,35,2010-08-01,8,2010
14765,14765,"[53, 28, 80]",273238,en,Zero Tolerance,5.242,2015-12-01,Zero Tolerance,4.4,23,2015-12-01,12,2015
13734,13734,[99],308335,en,Zero Tolerance,0.600,2014-03-02,Zero Tolerance,6.0,1,2014-03-02,3,2014
4344,4344,[],166662,en,Zion,0.625,2011-10-01,Zion,10.0,1,2011-10-01,10,2011
25031,25031,[99],507389,en,Zion,3.201,2018-01-18,Zion,6.4,14,2018-01-18,1,2018
1604,1604,"[27, 878]",39572,en,Zombie Apocalypse,0.689,2010-01-01,Zombie Apocalypse,2.5,3,2010-01-01,1,2010
2854,2854,"[28, 27, 878]",75735,en,Zombie Apocalypse,6.667,2011-10-29,Zombie Apocalypse,4.4,56,2011-10-29,10,2011
25188,25188,"[10752, 10751, 36]",472553,en,Zoo,2.550,2018-06-08,Zoo,6.6,17,2018-06-08,6,2018
21676,21676,"[10752, 10751, 36]",472553,en,Zoo,2.550,2018-06-08,Zoo,6.6,17,2018-06-08,6,2018

## Cleaning up TMDB_2 before appending to cleaned 'Compare' dataframe

 Steps: 
   1. remove duplicates
   2. drop columns not needed
   3. rename title columns and set as index

In [32]:
## Step 1: Removing duplicate Titles
tmdb_2.drop_duplicates(subset = 'title', keep = 'first', inplace = True)

In [33]:
## Step 2: drop columns "Unnamed, id, original_title, & release_date"

tmdb_2.drop(columns = ['id', 'original_title', 'release_date'], inplace = True)

In [34]:
tmdb_2.drop(columns = ['Unnamed: 0'], inplace = True)
tmdb_2.head()

,genre_ids,original_language,popularity,title,vote_average,vote_count,date,month,year
0,"[12, 14, 10751]",en,33.533,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,2010-11-19,11,2010
1,"[14, 12, 16, 10751]",en,28.734,How to Train Your Dragon,7.7,7610,2010-03-26,3,2010
2,"[12, 28, 878]",en,28.515,Iron Man 2,6.8,12368,2010-05-07,5,2010
4,"[28, 878, 12]",en,27.920,Inception,8.3,22186,2010-07-16,7,2010
5,"[12, 14, 10751]",en,26.691,Percy Jackson & the Olympians: The Lightning T...,6.1,4229,2010-02-11,2,2010

In [35]:
## Step 3: Reset Index to movie titles
tmdb_2.rename(columns = {'title': 'movie_title'}, inplace = True)
tmdb_2.set_index('movie_title', inplace = True)
tmdb_2.head()

,genre_ids,original_language,popularity,vote_average,vote_count,date,month,year
movie_title,,,,,,,,
Harry Potter and the Deathly Hallows: Part 1,"[12, 14, 10751]",en,33.533,7.7,10788,2010-11-19,11,2010
How to Train Your Dragon,"[14, 12, 16, 10751]",en,28.734,7.7,7610,2010-03-26,3,2010
Iron Man 2,"[12, 28, 878]",en,28.515,6.8,12368,2010-05-07,5,2010
Inception,"[28, 878, 12]",en,27.920,8.3,22186,2010-07-16,7,2010
Percy Jackson & the Olympians: The Lightning Thief,"[12, 14, 10751]",en,26.691,6.1,4229,2010-02-11,2,2010

## Merging TMDB with Compare

In [36]:
result = pd.concat([compare, tmdb_2], axis=1, sort=False)

result.columns

Index(['production_budget', 'domestic_gross_x', 'worldwide_gross', 'month',
       'year', 'studio', 'genre_ids', 'original_language', 'popularity',
       'vote_average', 'vote_count', 'date', 'month', 'year'],
      dtype='object')

In [37]:
result.shape
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26006 entries, Pirates of the Caribbean: On Stranger Tides to The Church
Data columns (total 14 columns):
production_budget    2167 non-null object
domestic_gross_x     2167 non-null object
worldwide_gross      2167 non-null object
month                2167 non-null float64
year                 4320 non-null float64
studio               3360 non-null object
genre_ids            24501 non-null object
original_language    24501 non-null object
popularity           24501 non-null float64
vote_average         24501 non-null float64
vote_count           24501 non-null float64
date                 24501 non-null datetime64[ns]
month                24501 non-null float64
year                 24501 non-null float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 3.0+ MB

In [38]:
result.head(50)

## Need to turn budget data into Integer

,production_budget,domestic_gross_x,worldwide_gross,month,year,studio,genre_ids,original_language,popularity,vote_average,vote_count,date,month,year
Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",5.0,2011.0,BV,"[12, 28, 14]",en,30.579,6.4,8571.0,2011-05-20,5.0,2011.0
Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",6.0,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",5.0,2015.0,BV,"[28, 12, 878]",en,44.383,7.3,13457.0,2015-05-01,5.0,2015.0
Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",12.0,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220",12.0,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200",4.0,2018.0,BV,"[12, 28, 14]",en,80.773,8.3,13948.0,2018-04-27,4.0,2018.0
Justice League,"$300,000,000","$229,024,295","$655,945,209",11.0,2017.0,WB,"[28, 12, 14, 878]",en,34.953,6.2,7510.0,2017-11-17,11.0,2017.0
Spectre,"$300,000,000","$200,074,175","$879,620,923",11.0,2015.0,Sony,"[28, 12, 80]",en,30.318,6.4,6719.0,2015-11-06,11.0,2015.0
The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099",7.0,2012.0,WB,"[28, 80, 18, 53]",en,26.220,7.7,13933.0,2012-07-20,7.0,2012.0
Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347",5.0,2018.0,BV,"[28, 12, 878]",en,29.502,6.6,3838.0,2018-05-25,5.0,2018.0
The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115",7.0,2013.0,BV,"[28, 12, 37]",en,12.482,6.0,3789.0,2013-07-03,7.0,2013.0
John Carter,"$275,000,000","$73,058,679","$282,778,100",3.0,2012.0,BV,"[28, 12, 878]",en,18.549,6.1,3338.0,2012-03-09,3.0,2012.0
Tangled,"$260,000,000","$200,821,936","$586,477,240",11.0,2010.0,BV,"[16, 10751]",en,21.511,7.5,6407.0,2010-11-24,11.0,2010.0
Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413",5.0,2016.0,BV,"[12, 28, 878]",en,39.137,7.4,14000.0,2016-05-06,5.0,2016.0
Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$867,500,281",3.0,2016.0,WB,"[28, 12, 14]",en,28.088,5.8,11991.0,2016-03-25,3.0,2016.0
The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568",12.0,2012.0,WB (NL),"[12, 14, 28]",en,26.939,7.2,12076.0,2012-12-14,12.0,2012.0
The Hobbit: The Desolation of Smaug,"$250,000,000","$258,366,855","$960,366,855",12.0,2013.0,WB (NL),"[12, 14, 28]",en,21.275,7.6,7739.0,2013-12-13,12.0,2013.0
The Hobbit: The Battle of the Five Armies,"$250,000,000","$255,119,788","$945,577,621",12.0,2014.0,WB (NL),"[28, 12, 14]",en,53.783,7.3,8392.0,2014-12-17,12.0,2014.0
The Fate of the Furious,"$250,000,000","$225,764,765","$1,234,846,267",4.0,2017.0,Uni.,"[28, 80, 53]",en,28.668,6.9,6335.0,2017-04-14,4.0,2017.0
Pirates of the Caribbean: Dead Men Tell No Tales,"$230,000,000","$172,558,876","$788,241,137",5.0,2017.0,BV,"[12, 28, 14, 35]",en,28.101,6.6,6931.0,2017-05-26,5.0,2017.0
The Avengers,"$225,000,000","$623,279,547","$1,517,935,897",5.0,2012.0,NaN,"[878, 28, 12]",en,50.289,7.6,19673.0,2012-05-04,5.0,2012.0
Man of Steel,"$225,000,000","$291,045,518","$667,999,518",6.0,2013.0,WB,"[28, 12, 14, 878]",en,27.667,6.5,9758.0,2013-06-14,6.0,2013.0
The Amazing Spider-Man,"$220,000,000","$262,030,663","$757,890,267",7.0,2012.0,Sony,"[28, 12, 14]",en,24.391,6.5,10411.0,2012-07-04,7.0,2012.0
Battleship,"$220,000,000","$65,233,400","$313,477,717",5.0,2012.0,Uni.,"[53, 28, 12, 878]",en,21.742,5.6,3240.0,2012-05-18,5.0,2012.0
Transformers: The Last Knight,"$217,000,000","$130,168,683","$602,893,340",6.0,2017.0,Par.,"[28, 878, 53, 12]",en,24.258,6.0,3255.0,2017-06-21,6.0,2017.0
Jurassic World,"$215,000,000","$652,270,625","$1,648,854,864",6.0,2015.0,Uni.,"[28, 12, 878, 53]",en,20.709,6.6,14056.0,2015-06-12,6.0,2015.0
Men in Black 3,"$215,000,000","$179,020,854","$654,213,485",5.0,2012.0,NaN,"[28, 35, 878]",en,26.176,6.4,6398.0,2012-05-25,5.0,2012.0
Transformers: Age of Extinction,"$210,000,000","$245,439,076","$1,104,039,076",6.0,2014.0,Par.,"[878, 28, 12]",en,20.961,5.8,4805.0,2014-06-27,6.0,2014.0
Black Panther,"$200,000,000","$700,059,566","$1,348,258,224",2.0,2018.0,BV,"[28, 16]",en,2.058,5.1,11.0,2011-01-18,1.0,2011.0
Incredibles 2,"$200,000,000","$608,581,744","$1,242,520,711",6.0,2018.0,BV,"[28, 12, 16, 10751]",en,36.286,7.6,6354.0,2018-06-15,6.0,2018.0
Rogue One: A Star Wars Story,"$200,000,000","$532,177,324","$1,049,102,856",12.0,2016.0,BV,"[28, 12, 878]",en,21.401,7.5,9296.0,2016-12-16,12.0,2016.0
Finding Dory,"$200,000,000","$486,295,561","$1,021,215,193",6.0,2016.0,BV,"[12, 16, 35, 10751]",en,15.393,7.0,7845.0,2016-06-17,6.0,2016.0
Toy Story 3,"$200,000,000","$415,004,880","$1,068,879,522",6.0,2010.0,BV,"[16, 10751, 35]",en,24.445,7.7,8340.0,2010-06-17,6.0,2010.0
Iron Man 3,"$200,000,000","$408,992,272","$1,215,392,272",5.0,2013.0,BV,"[28, 12, 878]",en,32.093,6.9,14155.0,2013-05-03,5.0,2013.0
Guardians of the Galaxy Vol 2,"$200,000,000","$389,813,101","$862,316,233",5.0,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
Alice in Wonderland,"$200,000,000","$334,191,110","$1,025,491,110",3.0,2010.0,NaN,"[10751, 14, 12]",en,22.020,6.6,8713.0,2010-03-05,3.0,2010.0
Skyfall,"$200,000,000","$304,360,277","$1,110,526,981",11.0,2012.0,Sony,"[28, 12, 53]",en,19.270,7.1,10441.0,2012-11-09,11.0,2012.0
Monsters University,"$200,000,000","$268,488,329","$743,588,329",6.0,2013.0,BV,"[16, 10751]",en,20.330,7.0,6362.0,2013-06-21,6.0,2013.0
Oz the Great and Powerful,"$200,000,000","$234,770,996","$490,359,051",3.0,2013.0,NaN,"[14, 12, 10751]",en,13.377,5.8,4829.0,2013-03-08,3.0,2013.0
X-Men: Days of Future Past,"$200,000,000","$233,921,534","$747,862,775",5.0,2014.0,Fox,"[28, 12, 14, 878]",en,41.867,7.5,10062.0,2014-05-23,5.0,2014.0
The Amazing Spider-Man 2,"$200,000,000","$202,853,933","$708,996,336",5.0,2014.0,Sony,"[28, 12, 14]",en,20.847,6.4,7220.0,2014-05-02,5.0,2014.0
Cars 2,"$200,000,000","$191,450,875","$560,155,383",6.0,2011.0,BV,"[16, 10751, 12, 35]",en,23.498,5.9,4058.0,2011-06-16,6.0,2011.0
Tron: Legacy,"$200,000,000","$172,062,763","$400,062,763",12.0,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
Fantastic Beasts: The Crimes of Grindelwald,"$200,000,000","$159,555,901","$652,220,086",11.0,2018.0,WB,[12],en,48.508,6.9,4870.0,2018-11-16,11.0,2018.0
Green Lantern,"$200,000,000","$116,601,172","$219,535,492",6.0,2011.0,WB,"[12, 28, 53, 878]",en,17.257,5.1,4290.0,2011-06-17,6.0,2011.0
Prince of Persia: Sands of Time,"$200,000,000","$90,759,676","$336,359,676",5.0,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
Transformers: Dark of the Moon,"$195,000,000","$352,390,543","$1,123,790,543",6.0,2011.0,P/DW,"[28, 878, 12]",en,5.339,6.1,4961.0,2011-06-28,6.0,2011.0
The Mummy,"$195,000,000","$80,101,125","$409,953,905",6.0,2017.0,NaN,"[14, 53, 28, 12, 27]",en,18.530,5.5,4391.0,2017-06-09,6.0,2017.0
Jack the Giant Slayer,"$195,000,000","$65,187,603","$197,687,603",3.0,2013.0,WB (NL),"[28, 12, 10751, 14]",en,12.773,5.6,3403.0,2013-03-01,3.0,2013.0
Furious 7,"$190,000,000","$353,007,020","$1,518,722,794",4.0,2015.0,Uni.,"[28, 80, 53]",en,20.396,7.3,6538.0,2015-04-03,4.0,2015.0

# data type correction
- $410,600,000 => integer
    - production_budget
    - domestic_gross_x
    - worldwide_gross

In [39]:
def money_converter(value):
    '''
    convert value in str with format: $410,600,000
    to float money value: 410600000.0
    '''
    value = value.replace(',','').replace('$','')
    return value

In [40]:
result['production_budget']

Pirates of the Caribbean: On Stranger Tides         $410,600,000
Dark Phoenix                                        $350,000,000
Avengers: Age of Ultron                             $330,600,000
Star Wars Ep. VIII: The Last Jedi                   $317,000,000
Star Wars Ep. VII: The Force Awakens                $306,000,000
Avengers: Infinity War                              $300,000,000
Justice League                                      $300,000,000
Spectre                                             $300,000,000
The Dark Knight Rises                               $275,000,000
Solo: A Star Wars Story                             $275,000,000
The Lone Ranger                                     $275,000,000
John Carter                                         $275,000,000
Tangled                                             $260,000,000
Captain America: Civil War                          $250,000,000
Batman v Superman: Dawn of Justice                  $250,000,000
The Hobbit: An Unexpected Journey                   $250,000,000
The Hobbit: The Desolation of Smaug                 $250,000,000
The Hobbit: The Battle of the Five Armies           $250,000,000
The Fate of the Furious                             $250,000,000
Pirates of the Caribbean: Dead Men Tell No Tales    $230,000,000
The Avengers                                        $225,000,000
Man of Steel                                        $225,000,000
The Amazing Spider-Man                              $220,000,000
Battleship                                          $220,000,000
Transformers: The Last Knight                       $217,000,000
Jurassic World                                      $215,000,000
Men in Black 3                                      $215,000,000
Transformers: Age of Extinction                     $210,000,000
Black Panther                                       $200,000,000
Incredibles 2                                       $200,000,000
                                                        ...
Gold Blooded                                                 NaN
Interstellar Civil War: Shadows of the Empire                NaN
Survive The Hollow Shoals                                    NaN
Courtside at the NBA Finals                                  NaN
Trump: The Art of the Insult                                 NaN
Driver                                                       NaN
The Crescent Moon Clown                                      NaN
The Real Princess Diaries: From Diana to Meghan              NaN
5ive Must Die                                                NaN
Between the Trees                                            NaN
Dying Embers                                                 NaN
The Pretty Thing                                             NaN
The Last Virgin                                              NaN
The Case of: Caylee Anthony                                  NaN
The Portuguese Kid                                           NaN
The 23rd Annual Critics' Choice Awards                       NaN
Out of Gas                                                   NaN
Two                                                          NaN
President Evil                                               NaN
Vicktey Vitch (It's Halloween Poem)                          NaN
Evolution 4K                                                 NaN
The Dead Bodies in #223                                      NaN
Dream Away                                                   NaN
Jaws                                                         NaN
Closing Time                                                 NaN
Laboratory Conditions                                        NaN
_EXHIBIT_84xxx_                                              NaN
The Last One                                                 NaN
Trailer Made                                                 NaN
The Church                                                   NaN
Name: production_budget, Length: 26006, dtype: object

In [41]:
# error when convert nan values, leave out nans
cols = ['production_budget','domestic_gross_x', 'worldwide_gross']
for col in cols:
    mask = ~result[col].isnull()
    result.loc[mask,col] = result.loc[mask,col].apply(money_converter)

In [42]:
result.head()

,production_budget,domestic_gross_x,worldwide_gross,month,year,studio,genre_ids,original_language,popularity,vote_average,vote_count,date,month,year
Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,5.0,2011.0,BV,"[12, 28, 14]",en,30.579,6.4,8571.0,2011-05-20,5.0,2011.0
Dark Phoenix,350000000,42762350,149762350,6.0,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
Avengers: Age of Ultron,330600000,459005868,1403013963,5.0,2015.0,BV,"[28, 12, 878]",en,44.383,7.3,13457.0,2015-05-01,5.0,2015.0
Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,12.0,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220,12.0,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

# export result dataframe tmdb_box

In [43]:
result.reset_index(inplace=True)

In [49]:
result.rename(columns={'index':"title"}, inplace=True)

In [50]:
result.head()

,title,production_budget,domestic_gross_x,worldwide_gross,month,year,studio,genre_ids,original_language,popularity,vote_average,vote_count,date,month,year
0,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,5.0,2011.0,BV,"[12, 28, 14]",en,30.579,6.4,8571.0,2011-05-20,5.0,2011.0
1,Dark Phoenix,350000000,42762350,149762350,6.0,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
2,Avengers: Age of Ultron,330600000,459005868,1403013963,5.0,2015.0,BV,"[28, 12, 878]",en,44.383,7.3,13457.0,2015-05-01,5.0,2015.0
3,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,12.0,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
4,Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220,12.0,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [52]:
result.to_csv('tmdb_box_merge.csv', encoding='utf-8')