In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('tmdb_box_merge.csv')

In [3]:
df.head(20)

,Unnamed: 0,title,production_budget,domestic_gross_x,worldwide_gross,month1,year1,studio,year,genre_ids,original_language,popularity,vote_average,vote_count,date,month,year.1
0,0,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,5.0,2011.0,BV,2011.0,"[12, 28, 14]",en,30.579,6.4,8571.0,2011-05-20,5.0,2011.0
1,1,Dark Phoenix,350000000.0,42762350.0,1.497624e+08,6.0,2019.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,5.0,2015.0,BV,2015.0,"[28, 12, 878]",en,44.383,7.3,13457.0,2015-05-01,5.0,2015.0
3,3,Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,12.0,2017.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Star Wars Ep. VII: The Force Awakens,306000000.0,936662225.0,2.053311e+09,12.0,2015.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Avengers: Infinity War,300000000.0,678815482.0,2.048134e+09,4.0,2018.0,BV,2018.0,"[12, 28, 14]",en,80.773,8.3,13948.0,2018-04-27,4.0,2018.0
6,6,Justice League,300000000.0,229024295.0,6.559452e+08,11.0,2017.0,WB,2017.0,"[28, 12, 14, 878]",en,34.953,6.2,7510.0,2017-11-17,11.0,2017.0
7,7,Spectre,300000000.0,200074175.0,8.796209e+08,11.0,2015.0,Sony,2015.0,"[28, 12, 80]",en,30.318,6.4,6719.0,2015-11-06,11.0,2015.0
8,8,The Dark Knight Rises,275000000.0,448139099.0,1.084439e+09,7.0,2012.0,WB,2012.0,"[28, 80, 18, 53]",en,26.220,7.7,13933.0,2012-07-20,7.0,2012.0
9,9,Solo: A Star Wars Story,275000000.0,213767512.0,3.931513e+08,5.0,2018.0,BV,2018.0,"[28, 12, 878]",en,29.502,6.6,3838.0,2018-05-25,5.0,2018.0
10,10,The Lone Ranger,275000000.0,89302115.0,2.600021e+08,7.0,2013.0,BV,2013.0,"[28, 12, 37]",en,12.482,6.0,3789.0,2013-07-03,7.0,2013.0
11,11,John Carter,275000000.0,73058679.0,2.827781e+08,3.0,2012.0,BV,2012.0,"[28, 12, 878]",en,18.549,6.1,3338.0,2012-03-09,3.0,2012.0
12,12,Tangled,260000000.0,200821936.0,5.864772e+08,11.0,2010.0,BV,2010.0,"[16, 10751]",en,21.511,7.5,6407.0,2010-11-24,11.0,2010.0
13,13,Captain America: Civil War,250000000.0,408084349.0,1.140069e+09,5.0,2016.0,BV,2016.0,"[12, 28, 878]",en,39.137,7.4,14000.0,2016-05-06,5.0,2016.0
14,14,Batman v Superman: Dawn of Justice,250000000.0,330360194.0,8.675003e+08,3.0,2016.0,WB,2016.0,"[28, 12, 14]",en,28.088,5.8,11991.0,2016-03-25,3.0,2016.0
15,15,The Hobbit: An Unexpected Journey,250000000.0,303003568.0,1.017004e+09,12.0,2012.0,WB (NL),2012.0,"[12, 14, 28]",en,26.939,7.2,12076.0,2012-12-14,12.0,2012.0
16,16,The Hobbit: The Desolation of Smaug,250000000.0,258366855.0,9.603669e+08,12.0,2013.0,WB (NL),2013.0,"[12, 14, 28]",en,21.275,7.6,7739.0,2013-12-13,12.0,2013.0
17,17,The Hobbit: The Battle of the Five Armies,250000000.0,255119788.0,9.455776e+08,12.0,2014.0,WB (NL),2014.0,"[28, 12, 14]",en,53.783,7.3,8392.0,2014-12-17,12.0,2014.0
18,18,The Fate of the Furious,250000000.0,225764765.0,1.234846e+09,4.0,2017.0,Uni.,2017.0,"[28, 80, 53]",en,28.668,6.9,6335.0,2017-04-14,4.0,2017.0
19,19,Pirates of the Caribbean: Dead Men Tell No Tales,230000000.0,172558876.0,7.882411e+08,5.0,2017.0,BV,2017.0,"[12, 28, 14, 35]",en,28.101,6.6,6931.0,2017-05-26,5.0,2017.0

In [4]:
df.columns

Index(['Unnamed: 0', 'title', 'production_budget', 'domestic_gross_x',
       'worldwide_gross', 'month1', 'year1', 'studio', 'year', 'genre_ids',
       'original_language', 'popularity', 'vote_average', 'vote_count', 'date',
       'month', 'year.1'],
      dtype='object')

In [6]:
df['month1'].isna().sum()

23839

df['year'].isna().sum()

In [7]:
df.popularity.isna().sum()

1505

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26006 entries, 0 to 26005
Data columns (total 17 columns):
Unnamed: 0           26006 non-null int64
title                26006 non-null object
production_budget    2167 non-null float64
domestic_gross_x     2167 non-null float64
worldwide_gross      2167 non-null float64
month1               2167 non-null float64
year1                2167 non-null float64
studio               3360 non-null object
year                 3365 non-null float64
genre_ids            24501 non-null object
original_language    24501 non-null object
popularity           24501 non-null float64
vote_average         24501 non-null float64
vote_count           24501 non-null float64
date                 24501 non-null object
month                24501 non-null float64
year.1               24501 non-null float64
dtypes: float64(11), int64(1), object(5)
memory usage: 3.4+ MB

## Dropped extra YEAR and MONTH columns and replaced with Merged version

In [10]:
##  Need to merge Year and Month columns to fill in NaN values

df['Year'] = df['year1'].fillna(df.year)
df['Month'] = df['month1'].fillna(df.month)
df.drop(columns = ['Unnamed: 0', 'month', 'year', 'month1', 'year1','year.1'], inplace = True)

In [12]:
df.head()

,title,production_budget,domestic_gross_x,worldwide_gross,studio,genre_ids,original_language,popularity,vote_average,vote_count,date,year.1,Year,Month
0,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,BV,"[12, 28, 14]",en,30.579,6.4,8571.0,2011-05-20,2011.0,2011.0,5.0
1,Dark Phoenix,350000000.0,42762350.0,1.497624e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,6.0
2,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,BV,"[28, 12, 878]",en,44.383,7.3,13457.0,2015-05-01,2015.0,2015.0,5.0
3,Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0,12.0
4,Star Wars Ep. VII: The Force Awakens,306000000.0,936662225.0,2.053311e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015.0,12.0

## export to csv file

In [ ]:
#df.to_csv("tmdb_box_merge_new.csv", index=False)