
## Data Analysis
1. Genres vs Avg-rating
    1. tmdb
    2. imdb
    3. rt
2. Genres vs box 
    1. tmdb
    2. rt_movie

### Import libraries

In [1]:
# import libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

### Load Data

In [2]:
!ls ./data

bom.movie_gross.csv.gz       imdb.title.ratings.csv.gz
imdb.name.basics.csv.gz      rt.movie_info.tsv.gz
imdb.title.akas.csv.gz       rt.reviews.tsv.gz
imdb.title.basics.csv.gz     tmdb.movies.csv.gz
imdb.title.crew.csv.gz       tn.movie_budgets.csv.gz
imdb.title.principals.csv.gz

In [4]:
#load datasets
bom = pd.read_csv('./data/bom.movie_gross.csv.gz')
imdb_name_basics = pd.read_csv('./data/imdb.name.basics.csv.gz')
imdb_tl_akas = pd.read_csv('./data/imdb.title.akas.csv.gz')
imdb_tl_basics = pd.read_csv('./data/imdb.title.basics.csv.gz')
imdb_tl_crew = pd.read_csv('./data/imdb.title.crew.csv.gz')
imdb_tl_principals = pd.read_csv('./data/imdb.title.principals.csv.gz')
imdb_tl_ratings = pd.read_csv('./data/imdb.title.ratings.csv.gz')
rt_movie = pd.read_csv('./data/rt.movie_info.tsv.gz', sep = '\t')
rt_reviews=pd.read_csv('./data/rt.reviews.tsv.gz', sep = '\t',  encoding='mac_roman')
tmdb_movies = pd.read_csv('./data/tmdb.movies.csv.gz')
tmdb_budgets = pd.read_csv('./data/tn.movie_budgets.csv.gz')

### Slice tmdb: keep movies in 2010-2019

In [13]:
# tmdb_movies

#'release_date'(2010-11-19): covert to datetime object
tmdb_movies['date'] = pd.to_datetime(tmdb_movies['release_date'])
# add year & month to tmdb_movies
tmdb_movies['year'] = tmdb_movies['date'].dt.year
tmdb_movies['month']= tmdb_movies['date'].dt.month

In [15]:
# tmdb_budgets

# 'release_date'(Dec 18, 2009): covert to datetime object
tmdb_budgets['date'] = pd.to_datetime(tmdb_budgets['release_date'])
# add year & month to tmdb_budgets
tmdb_budgets['year'] = tmdb_budgets['date'].dt.year
tmdb_budgets['month'] = tmdb_budgets['date'].dt.month

- slicing (2010-2019)

In [12]:
# slice tmdb_movies (year 2010-2019)
mask = (tmdb_movies['year']<=2019) & (tmdb_movies['year']>=2010)
tmdb_movies = tmdb_movies.loc[mask].copy()

# slicing tmdb_budgets (year 2010-2019)
mask = (tmdb_budgets['year']<=2019) & (tmdb_budgets['year']>=2010)
tmdb_budgets = tmdb_budgets.loc[mask].copy()

### Genres - "Avg-rating"
1. tmdb
2. imdb
3. rt

#### tmdb.movies - (Genres - Avg_rating) 
- tmdb.movies

In [19]:
tmdb_genres=[{'id': 28, 'name': 'Action'},
            {'id': 12, 'name': 'Adventure'},
            {'id': 16, 'name': 'Animation'},
            {'id': 35, 'name': 'Comedy'},
            {'id': 80, 'name': 'Crime'},
            {'id': 99, 'name': 'Documentary'},
            {'id': 18, 'name': 'Drama'},
            {'id': 10751, 'name': 'Family'},
            {'id': 14, 'name': 'Fantasy'},
            {'id': 36, 'name': 'History'},
            {'id': 27, 'name': 'Horror'},
            {'id': 10402, 'name': 'Music'},
            {'id': 9648, 'name': 'Mystery'},
            {'id': 10749, 'name': 'Romance'},
            {'id': 878, 'name': 'Science Fiction'},
            {'id': 10770, 'name': 'TV Movie'},
            {'id': 53, 'name': 'Thriller'},
            {'id': 10752, 'name': 'War'},
            {'id': 37, 'name': 'Western'}]

In [22]:
tmdb_movies.head(10)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,date,year,month
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,2010-11-19,2010,11
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,2010-03-26,2010,3
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,2010-05-07,2010,5
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186,2010-07-16,2010,7
5,5,"[12, 14, 10751]",32657,en,Percy Jackson & the Olympians: The Lightning T...,26.691,2010-02-11,Percy Jackson & the Olympians: The Lightning T...,6.1,4229,2010-02-11,2010,2
7,7,"[16, 10751, 35]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340,2010-06-17,2010,6
8,8,"[16, 10751, 35]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057,2010-07-09,2010,7
9,9,"[16, 28, 35, 10751, 878]",38055,en,Megamind,22.855,2010-11-04,Megamind,6.8,3635,2010-11-04,2010,11
11,11,"[10751, 14, 12]",12155,en,Alice in Wonderland,22.020,2010-03-05,Alice in Wonderland,6.6,8713,2010-03-05,2010,3
12,12,"[53, 12, 28]",27578,en,The Expendables,21.517,2010-08-03,The Expendables,6.1,4647,2010-08-03,2010,8

- Check

In [14]:
tmdb_movies.head(2)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,date,year,month
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,2010-11-19,2010,11
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,2010-03-26,2010,3

In [16]:
tmdb_budgets.head(2)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,date,year,month
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2011-05-20,2011,5
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",2019-06-07,2019,6